<%= form_with model: horse do |form| %>
  <div>
    <%= form.label :name, "名前:" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :turf_grade, "芝グのグレード:" %>
    <%= form.text_field :turf_grade %>
  </div>

  <div>
    <%= form.label :dirt_grade, "ダートのグレード:" %>
    <%= form.text_field :dirt_grade %>
  </div>

  <div>
    <%= form.label :shortdistance_grade, "短距離のグレード:" %>
    <%= form.text_field :shortdistance_grade %>
  </div>

  <div>
    <%= form.label :miledistance_grade, "マイルのグレード:" %>
    <%= form.text_field :miledistance_grade %>
  </div>

  <div>
    <%= form.label :middistance_grade, "中距離のグレード:" %>
    <%= form.text_field :middistance_grade %>
  </div>

  <div>
    <%= form.label :longdistance_grade, "長距離のグレード:" %>
    <%= form.text_field :longdistance_grade %>
  </div>

  <div>
    <%= form.label :runner_grade, "逃げのグレード:" %>
    <%= form.text_field :runner_grade %>
  </div>

  <div>
    <%= form.label :leader_grade, "先行のグレード:" %>
    <%= form.text_field :leader_grade %>
  </div>

  <div>
    <%= form.label :betweener_grade, "差しのグレード:" %>
    <%= form.text_field :betweener_grade %>
  </div>

  <div>
    <%= form.label :chaser_grade, "追込のグレード:" %>
    <%= form.text_field :chaser_grade %>
  </div>

    <%= form.submit "エディット",:class => 'button' %>
<% end %>