<header>
  <div id="logo">
    <%=image_tag("mb_logo.png",size: "450")%>
  </div>
</header>

<div id="new_horse">
  <%= link_to "Register Horse", new_horse_path %>
</div>


<hr class="rounded">

<div id="title_list">
  <%=image_tag("h3_umamusume-d6e4a4d.png",size: "200x50")%>
</div>

<ul>
  <% @horses.each do |horse| %>
    <li>
      <a href="/horses/<%= horse.id %>">
        <%= horse.name %>
      </a>
    </li>
  <% end %>
</ul>

