<header>
  <div id="logo">
    <%=image_tag("mb_logo.png",size: "450")%>
  </div>
</header>

<div id="new_horse">
  <%= link_to "Register Horse", new_horse_path %>
</div>


<hr class="rounded">

<div id="title_list">
  <%=image_tag("h3_umamusume-d6e4a4d.png",size: "180x40")%>
</div>

<div id="card_container">
  <% @horses.each do |horse| %>
    <div class="card">
      
      <div class="container">
      <%=image_tag("black-head-horse.jpg", :class => "style_image")%>
        <a href="/horses/<%= horse.id %>">
        <%= horse.name %>
      </div>
    </div>
  <% end %>
</div>